<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdditionServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.AdditionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubtractionServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.SubtractionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplicationServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.MultiplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DivisionServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.DivisionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdditionServlet</servlet-name>
        <url-pattern>/AdditionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubtractionServlet</servlet-name>
        <url-pattern>/SubtractionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplicationServlet</servlet-name>
        <url-pattern>/MultiplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DivisionServlet</servlet-name>
        <url-pattern>/DivisionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/file_not_found.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/number_format_error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>za.ac.tut.controller.NumberException</exception-type>
        <location>/negative_number_error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/division_by_zero_error.jsp</location>
    </error-page>
</web-app>
